.App {
  margin-top: 100px;
  text-align: center;
  text-decoration: none;
}
body {
  background-color: rgb(230, 198, 230);
}
.App button {
  margin: 0 auto;
  display: block;
  text-align: center;
}
